[Desktop Entry]
Categories=
Comment=This starts an instance of the Grisu Template Client
Comment[en]=This starts an instance of the Grisu Template Client
Encoding=UTF-8
Exec=/usr/bin/grisu-template 
GenericName=
GenericName[en]=
Icon=/usr/local/lib/grisu/icons/grisu-template.png
MimeType=
Name=Grisu Template Client
Name[en]=Grisu Template Client
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
URL=
X-KDE-SubstituteUID=false
X-KDE-Username=root

