Package: grisu-template
Version: VERSION_TOKEN
Section: misc
Priority: optional
Architecture: all
Depends: java-runtime,nesi-meta
Maintainer: Markus Binsteiner <m.binsteiner@auckland.ac.nz>
Description: Grisu Template client / GUI frontend for Grisu
